:root {
    --font-family: 'Poppins', sans-serif;
    --fw-light: 300;
    --fw-semibold: 600;
    --fc-dark: #222222;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* typography */

body {
    font-family: var(--font-family);
}

.hero__title {
    font-size: 36px;
    font-weight: var(--fw-semibold);
}

.hero__summary {
    font-size: 16px;
    font-weight: var(--fw-light);
    color: var(--fc-dark);
    line-height: 18px;
}

.card__status {
    font-size: 10.24px;
}

.card {
    font-size: 12px;
}

.bold {
    font-weight: bold;
}


/* navbar */

.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    padding: 20px 36px;
}

.navbar__logo {
    max-width: 100px;
}


/* hero */

section {
    padding: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero__photo {
    max-width: 400px;
    align-self: center;
}

.hero__title {
    margin-bottom: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hero__summary {
    margin-top: 0;
}


/* card */

.cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}

.card {
    width: 176px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.gray {
    color: #918E9B;
}

.card__image {
    width: 100%;
    border-radius: 10px;
}

.card__stats {
    display: flex;
    align-items: center;
}

.card__badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}

.card__star {
    height: 14px;
}

.card__price {
    margin-top: auto;
}